@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>GetCookie</title>
</head>
<body>
    @*The IF ELSE statement is the exercise*@
    @if (Model == null)
    {
        @:Cookie: Not set
    }
    else
    {
        <p>Cookie: @Model</p>
    }
</body>
</html>
