
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <b>Hello World!!!</b>
    @for (int i = 0; i < 10; i++)
    {
        <b>You are on page @i</b><br/>
    }
</body>
</html>
