@model IEnumerable<HelloWorld.Models.Product>

@{
    ViewBag.Title = "Products";
}

@if (Model.Count() > 0)
{
    <table>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@switch (product.ProductCount)
                {
                    case 0:
                        @: Out of Stock
                        break;
                    case 1:
                        <p>Low Stock</p>
                        break;
                    default:
                        @string.Format("{0} items", product.ProductCount)
                        break;
                }</td>
            </tr>
        }
    </table>
}
else
{
    <h2>No product data found.</h2>
}
