@model HW6_BirthdayCard.Models.BirthdayCard

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Sent</title>
</head>
<body>
    <h3>Birthday Card Sent</h3>
    <p>From: @Model.From</p>
    <p>To: @Model.To</p>
    <p>Message: @Model.Message</p>
</body>
</html>
